@{
    ViewData["Title"] = "FAQ";
}

<div class="text-center">
    <h1 class="display-4">Frequently Asked Questions</h1>
    <hr>
</div>

<div class="text-justify" id="index">
    <p>
        <b>Where does the data come from?</b> All the information about the authors and rankings are obtained from dblp's api.
    </p>
    <p>
        <b>How can I search specific venues?</b> Specific venues can be chosen. However, they require their specific searching name. This information can be acquired at dblp's page.
    </p>
    <p>
        <b>What is Google Scholar Ranking? </b> GSR are the top 20 venues in Google Scholar's Software Systems' ranking (March 2021). When using this filter, the system searches every individual venue and merges the final result.
    </p>
    <p>
        <b>Filter does not seem to be working, why?</b> The application may rarely fail to obtain information from the external api due to connection issues. If this happens to you, wait a little bit, and try again.
    </p>
    <p>
        <b>How long does it take to search an author or ranking?</b> Searching time depends on the parameters chosen. Factors that can increase the searching time are location and number of venues.
    </p>
    <p>
        <b>What is the difference between Dblp Api and Database search?</b> Dblp api uses the information obtained from dblp’s service to check the affiliation of every author on real time. On the other hand, the database looks into the internal files of the application for such affiliations.
    </p>
    <p>
        <b>Can I search any location I want?</b> If you use dblp api search you can look for any location. The data is updated by dblp as authors register their affiliations, so it may not be very precise. If you wish to search by a specific location, try look at the database first and use it if your location is included. If not, try dblp api.
    </p>
    <p>
        <b>What do active years mean when searching?</b> Active years keeps track of the period of time the author has between its first and last publication inside the data queried. Meaning that if the searching interval is 5 years, the active time of the author will not be greater than 5.
    </p>
    <p>
        <b>What does international location refer to?</b> International search is the one that includes every author, regardless of their affiliation.
    </p>
</div>